<div class="wrap">
        <img src="/images/logo-black.png" class="lazy logo" alt="logo">
        <form action="/search" method="POST">
                <div class="search">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search a movie trailer"
                                name="query" aria-label="Search">
                        <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
                </div>
        </form>
</div>